docs/n8n_workflow_export.json
[{"updatedAt":"2026-06-19T23:56:05.763Z","createdAt":"2026-06-19T21:12:41.781Z","id":"7lMmBaHEF6r6pStM","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-592,0],"id":"fb1ebd12-1ea8-45b4-88a9-c2d8250b223d","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"83273636-a0b5-42fc-a6c2-5096a9b7de96","name":"company_name ","value":"FinEdge","type":"string"},{"id":"e79823cd-cbe7-450a-8ab2-80b16b2681b4","name":"tone","value":"authoritative, concise","type":"string"},{"id":"afdd4280-dc23-4d58-976a-fd4b919313d9","name":"industry","value":"fintech","type":"string"},{"id":"e985af4a-003f-42ed-a539-ed96fca0b467","name":"target_audience","value":"CFOs and finance leaders","type":"string"},{"id":"abbe2949-951b-46ed-8142-232ab94ae2bb","name":"topic","value":"AI in fraud detection","type":"string"},{"id":"0cb435d7-ee65-4d9c-bc48-04077929b84e","name":"context","value":"AI in fraud detection","type":"string"},{"id":"11778aa9-7886-4d96-aa95-8735989d6301","name":"context","value":"Recent industry report on rising fraud rates","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,0],"id":"714f0c2e-b1f1-4d3f-b3da-62db075cc308","name":"Brand Config"},{"parameters":{"method":"POST","url":"http://localhost:8000/linkedin","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"brand\": {\n    \"company_name\": \"{{ $json.company_name }}\",\n    \"tone\": \"{{ $json.tone }}\",\n    \"industry\": \"{{ $json.industry }}\",\n    \"target_audience\": \"{{ $json.target_audience }}\"\n  },\n  \"topic\": \"{{ $json.topic }}\",\n  \"context\": \"{{ $json.context }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-288,0],"id":"3260e0af-5e1a-4a39-846d-235a523d76c8","name":"AutoGen Microservice"},{"parameters":{"assignments":{"assignments":[{"id":"0b8592ba-8d16-47d3-a0c3-c821fccbf97d","name":"final_post","value":"={{ $json.draft }}  {{ $json.hashtags.join(' ') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,0],"id":"3e3df182-4eed-41b6-aa40-3c2b09de344f","name":"Compose Final"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a1d75bb2-0bd7-4246-b351-c916c8d0f05a","leftValue":"={{ $json.confidence }}","rightValue":0.75,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[272,0],"id":"ed548093-2c2a-4f80-bb12-b0e2c98f6a69","name":"Approval Gate"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0BCR6S4CKA","mode":"id"},"text":"={{ $json.final_post }}  Confidence: {{ $json.confidence }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[496,80],"id":"c3eefe18-b7a9-4dc7-9137-636870867fa7","name":"Send a message","webhookId":"a983e588-9c1c-4d48-9039-0860e990821e","credentials":{"slackApi":{"id":"2CWKegd0ihCqPDnq","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0BCR6S4CKA","mode":"id"},"text":"=🚀 AUTO-PUBLISH (high confidence — would post directly to LinkedIn in production):  {{ $json.draft }}  {{ $json.hashtags.join(' ') }}  Confidence: {{ $json.confidence }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[496,-48],"id":"664819cc-afbb-4d8d-a005-c322c6fd44d6","name":"LinkedIn (Dry Run)","webhookId":"746fe51d-13a7-403e-84bf-b2310b71515e","credentials":{"slackApi":{"id":"2CWKegd0ihCqPDnq","name":"Slack account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,0],"id":"9cebe395-e400-48e9-b0d5-ea839cf6736e","name":"Append row in sheet"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Brand Config","type":"main","index":0}]]},"Brand Config":{"main":[[{"node":"AutoGen Microservice","type":"main","index":0}]]},"AutoGen Microservice":{"main":[[{"node":"Compose Final","type":"main","index":0}]]},"Compose Final":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Approval Gate":{"main":[[{"node":"LinkedIn (Dry Run)","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Approval Gate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e36901cd-772d-4976-b197-5733d2e4798f","activeVersionId":null,"versionCounter":86,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-19T21:12:41.784Z","createdAt":"2026-06-19T21:12:41.784Z","role":"workflow:owner","workflowId":"7lMmBaHEF6r6pStM","projectId":"YWAQWDzfeZiqOgPb","project":{"updatedAt":"2026-06-19T20:32:08.837Z","createdAt":"2026-06-19T20:25:40.521Z","id":"YWAQWDzfeZiqOgPb","name":"Mark Doe <m.doe@weplusllc.com>","type":"personal","icon":null,"description":null,"creatorId":"72a67a64-44b4-4c9e-943d-bc6ba38c4ba6"}}]},{"updatedAt":"2026-06-22T01:55:15.239Z","createdAt":"2026-06-21T23:55:33.305Z","id":"iMsCHZcEuf2VqIDT","name":"GTM Multi-Agent Pipeline","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1040,16],"id":"cd8b2f60-e7c2-43a7-aca5-242e3ae6f408","name":"When clicking ‘Execute workflow’"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-560,224],"id":"3f587b49-2f26-421a-8c9d-4c2a78e19f46","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"LkSa4FUy0LmDS0GL","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"Given the WE+, LLC project brief, decompose it into a prioritized list of specific, answerable research questions covering competitors, pricing models, buyer objections, governance frameworks, and market signals — segmented by SMB vs. enterprise and for-profit vs. nonprofit where relevant.\n\nOutput a JSON list of research questions, each with a priority tag (high/medium/low) and a short note on which segment(s) it applies to.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-912,16],"id":"b66a7168-2627-43b8-bed6-d501c012df5a","name":"Head Planner"},{"parameters":{"promptType":"define","text":"=You are researching market evidence for WE+, LLC's \"Performance Architecture Sprint\" — a B2B AI transformation advisory offering sold to SMB and enterprise clients, both for-profit and nonprofit, in the US market.\n\nFor each research question in the following list, use the web_search and fetch_page tools to find and verify supporting facts. Every fact must include an evidence_id, source_url, source_title, publisher_tier, and retrieved_at timestamp. If a page cannot be fetched, fall back to the search snippet and note the limitation. Do not state any fact without a linked source. Do not ask clarifying questions — proceed directly using the context given.\n\nResearch questions:\n{{ $('Head Planner').item.json.output }}\n\nOutput a JSON array of evidence objects per the evidence schema, grouped by research question.","options":{"maxIterations":20}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-656,16],"id":"8474023b-edbf-4c12-b358-f035474e922c","name":"Research Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-672,224],"id":"0ba6659b-4a51-4c02-b52d-e9af96b80e6d","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"LkSa4FUy0LmDS0GL","name":"OpenAi account"}}},{"parameters":{"endpointUrl":"http://localhost:8000/mcp","include":"selected","includeTools":["web_search","fetch_page"],"options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[-480,320],"id":"134e59a6-cdec-4dad-aeae-a17e39e9a120","name":"MCP Client"},{"parameters":{"promptType":"define","text":"=Using the gathered evidence below, build a competitor table (name, offering, pricing model, target segment), a pricing matrix, and a qualitative synthesis using SWOT and 4P frameworks. For every claim, cite the evidence's source_url and source_title directly (e.g. \"(Source: Gartner, https://...)\"), not just the evidence_id, so sourcing survives into later stages.\n\nEvidence:\n{{ $('Research Agent').item.json.output }}\n\nOutput markdown tables for the competitor and pricing comparisons, plus a structured SWOT/4P synthesis, all evidence-cited.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-400,16],"id":"65018906-7972-4276-b7ba-6f24820c323d","name":"Analyst Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-320,224],"id":"413c74fc-69a9-4b54-a0c0-65876fd4136d","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"LkSa4FUy0LmDS0GL","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Using ONLY the market analysis evidence provided below — do not introduce any company, statistic, or source that is not explicitly present in the text below — draft a GTM plan for WE+, LLC's Performance Architecture Sprint offering. Include ICPs (segmented by company size and sector), value proposition, messaging, channels, and a launch plan with rough timeline. If a section cannot be supported by the evidence below, explicitly write \"No supporting evidence available\" for that section rather than inventing claims, statistics, or external sources.\n\nFor every factual or statistical claim, include an inline citation in the form (Source: source_title, source_url) drawn exactly from the evidence below — never invent a new source_url that doesn't appear in the text below.\n\nMarket analysis (the ONLY permitted source of facts and citations):\n{{ $('Analyst Agent').item.json.output }}\n\nOutput a structured GTM plan in markdown with clear headers for each required section (ICPs, Value Proposition, Messaging, Channels, Launch Plan), ending with a \"## Sources\" section listing every unique source_url and source_title actually cited above — sourced only from the evidence provided.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-144,16],"id":"edcdecad-7c4c-4bf7-99ac-f7e0dee090ed","name":"Strategy Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-192,224],"id":"40fc67f3-b283-490b-9885-4d2e9e24187e","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"LkSa4FUy0LmDS0GL","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-48,224],"id":"b3236ac2-f2ba-4239-8a87-f129efdda415","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"LkSa4FUy0LmDS0GL","name":"OpenAi account"}}},{"parameters":{"endpointUrl":"http://localhost:8000/mcp","include":"selected","includeTools":["docs_write"],"options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[64,224],"id":"63983061-31a0-48a4-a0f1-6f88b89ad350","name":"MCP Client1"},{"parameters":{"promptType":"define","text":"=Take the following GTM plan markdown and save it using the docs_write tool. Use a clear title referencing \"WE+, LLC\" and \"Performance Architecture Sprint\".\n\nGTM Plan:\n{{ $('Strategy Agent').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[96,16],"id":"11a10950-c4b3-4a54-a842-b3951f212ac5","name":"Docs Writer"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Head Planner","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Head Planner","type":"ai_languageModel","index":0}]]},"Head Planner":{"main":[[{"node":"Research Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Research Agent","type":"ai_languageModel","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"Research Agent":{"main":[[{"node":"Analyst Agent","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Analyst Agent","type":"ai_languageModel","index":0}]]},"Analyst Agent":{"main":[[{"node":"Strategy Agent","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Strategy Agent","type":"ai_languageModel","index":0}]]},"Strategy Agent":{"main":[[{"node":"Docs Writer","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Docs Writer","type":"ai_languageModel","index":0}]]},"MCP Client1":{"ai_tool":[[{"node":"Docs Writer","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cc3f0be5-3234-4508-bc63-bf97fdd79877","activeVersionId":null,"versionCounter":60,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-21T23:55:33.307Z","createdAt":"2026-06-21T23:55:33.307Z","role":"workflow:owner","workflowId":"iMsCHZcEuf2VqIDT","projectId":"YWAQWDzfeZiqOgPb","project":{"updatedAt":"2026-06-19T20:32:08.837Z","createdAt":"2026-06-19T20:25:40.521Z","id":"YWAQWDzfeZiqOgPb","name":"Mark Doe <m.doe@weplusllc.com>","type":"personal","icon":null,"description":null,"creatorId":"72a67a64-44b4-4c9e-943d-bc6ba38c4ba6"}}]}]